* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  padding: 10px;
  background-color: aqua;
}

.ContainerInput {
  display: flex;
  align-items: center;
}

.pesquisa {
  margin-right: 10px;
  padding: 5px;
  font-size: 16px;
}

.buttonSearch,
.buttonHome,
.buttonLogin,
.buttonRegister{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-right: 10px;
}

.title {
  font-family: fantasy;
}

.buttonSearch:hover, .buttonLogin:hover, .buttonRegister:hover, .buttonHome:hover{
  background-color:deepskyblue;
}
