*{
  margin: 0;
  padding: 0;
}

.Container{
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  padding: 10px;
}

.buttonHome{
  order: -1;
}